* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter Tight', sans-serif;
}

header {
    display: flex;
    width: 300px;
}

.logo {
    border-radius: 50%;
    padding: 5px;
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: goldenrod;
    border: 1px solid black;
}

nav ul {
    flex-direction: row;
    list-style-type: none;
    padding: 20px;

}

nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
}

li a {
    text-decoration: none;
}

.section {
    background-image: url('./students.jpg');
    width: 100%;
    height: 130vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;

}

button {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: goldenrod;
    border-color: goldenrod;
    color: aliceblue;
}

.section-text {
    /* border: 1px solid red; */
    padding-top: 300px;
    padding-bottom: 20px;
    color: #000;
    font-size: 42px;
    font-weight: 400;
}

.grid-2-col {
    height: 60vh;
    padding: 50px;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* column-gap: 80px; */
    /* line-height: 1.5em; */
    display: flex;
}

/* .flex-container{
    display: flex;
    flex-wrap: nowrap;
} */
/* .flex-container>div{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
} */
.article {
    padding-right: 30px;
    width: 50vw;
    line-height: 1.5em;
}

.article-picture {
    /* height: 100vh; */
    width: 50vw;
    /* padding: 30px; */
    background-image: url('./students.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;

}

/*TEAM*/
#team-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-4-cols {
    display: flex;
    height: 70vh;
    width: 100%;
    background-color: #F2F0EB;
    padding: 50px;

}

.team {
    height: 50vh;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
    margin: 15px;
    background-color: whitesmoke;

}

.team-box {
    padding: 15px;
}

.team-image-1 {
    background-image: url('./sarah.jpg');
    padding: 5px;
    height: 30vh;
    /* width: 32vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-image-2 {
    background-image: url('./eben.jpeg');
    padding: 5px;
    height: 30vh;
    /* width: 32vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-image-3 {
    background-image: url('./enoch.JPG');
    padding: 5px;
    height: 30vh;
    /* width: 32vw; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h3 {
    margin-bottom: 24px;
}

.team-details {
    list-style: none;
}

.team-details li {
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 24px; */
}
